@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.SignIn>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

<style>
   



</style>

 <div id="login-box">
      <div class="left-box">
        
          @Html.Partial("Login")
        
        </div>
        <div class="right-box">
          @Html.Partial("Register")
        </div>
        <div class="or">OR</div>
    </div>
    
    
    
    
    
    
    
    
    
    
    